.container_12.clearfix
  %header.center_stage
    %h1 So you've built an app for The City.
    .context_bar
  %section
    %h2
      %strong Awesome.
    %p.intro.grid_5.suffix_3 We're happy about that. We have provided a few tools for you. We hope these tools will make it easier for you to make your app fit nicely within The City.
    %p.grid_5.suffix_3 We've put together and hosted a stylesheet for you to include in your app. This will provide you with the basic styles that we use in The City. To place it in your app, paste the following in the head of your document:
    %h4 The City Default Styles
    %pre.clear.prettyprint 
      = preserve do
        :escaped
          <link rel="stylesheet" href="http://developer.onthecity.org/thecity-appkit/cdn/1.0/application-all.css" />
    %h4 Javascript for HTML5 support for pre-IE 9 browsers
    %p
      This code makes new HTML5 elements block-level so that earlier versions of IE treat them correctly. Credit goes to @jon_neal and
      %a{:href => "https://github.com/aFarkas/html5shiv"} afarkas
      for this.  Full original, uncompressed source available at
      %a{:href => "https://github.com/aFarkas/html5shiv"} https://github.com/aFarkas/html5shiv
    %pre.clear.prettyprint
      = preserve do
        :escaped
          <script type="text/javascript" src="http://developer.onthecity.org/thecity-appkit/cdn/1.0/application-ie.js"></script>
    %h3 Hosting City Utilities
    %p
      If you'd rather host the City Utilities yourself, you can
      %a.zip_download_link{:href => "https://github.com/thecity/thecity-appkit/zipball/master"} download this project as a .zip file
      or
      = succeed "." do
        %a.tar_download_link{:href => "https://github.com/thecity/thecity-appkit/tarball/master"} download as a tar.gz file
      = succeed "." do
        %a#forkme_banner{:href => "https://github.com/thecity/thecity-appkit"} View this project on GitHub
    %p  
    %h3.gutterbottom What's included in The City Utilities?
    .grid_4
      %h4.rule The Big Picture
      %p
        We've included a reset for default styles and leveling the playing field between browsers. We've also included a
        %a{:href => "/utilities"} list of utility classes
        for use throughout your app.
    .grid_4.omega
      %h4.rule
        %a{:href => "typography.html"} Typography
      %p Here are The City's defaults for headings, paragraphs, list and all other typographic styles. There are also a few utility classes that you may need.
    .grid_4
      %h4.rule
        %a{:href => "forms.html"} Forms
      %p
        In The City, we've leveraged the 12-column form grid from the smart folks at
        = succeed "." do
          %a{:href => "http://formee.org"} Formee
        We show you how to structure your forms so that everything lines up just right.
    .grid_4.omega
      %h4.rule
        %a{:href => "tables.html"} Tables
      %p You can put borders around your table cells, or you can zebra-stripe them. Or both.
    .grid_4.clear
      %h4.rule
        %a{:href => "grid.html"} Grid
      %p
        8 columns. Fluid. It's based off of
        = succeed "." do
          %a{:href => "http://960.gs"} 960.gs
        We adapted it to fit the content area in The City. The City's content area is not fluid, but this will be future friendly.
    .grid_4.omega
      %h4.rule
        %a{:href => "buttons.html"} Buttons
      %p We have 4 buttons colors with the basic style. We'll explain how to use the various classnames and make your buttons look like they belong in The City.
    .grid_4
      %h4.rule
        %a{:href => "center_stage.html"} Center Stage
      %p Every page in The City has Center Stage. It's where the page header lives. You can add tabs for page nav as well.