%html
	%head
		%title The City Utilities
		= stylesheet_link_tag    "appkit", :media => "all"
		= stylesheet_link_tag    "docs", :media => "all"
		= javascript_include_tag "appkit"
		= stylesheet_link_tag    "/thecity-appkit/prettify.css", :media => "all"
		= javascript_include_tag "/thecity-appkit/prettify/prettify.js"
		/[if IE]
			= stylesheet_link_tag    "appkit-ie", :media => "all"
			= javascript_include_tag "appkit-ie"
		= csrf_meta_tags
	%body{:onload => 'prettyPrint()'}
		%div.container
			%section.main
				%aside.sidebar
					%header.masthead
						%h1 The City Utilities
					%div.sidebar-inner
						%nav.sidenav
							%ul
								= active_link_to 'Big Picture', '/', :wrap_tag => :li
								= active_link_to 'Typography', '/thecity-appkit/typography', :wrap_tag => :li
								= active_link_to 'Forms', '/thecity-appkit/forms', :wrap_tag => :li
								= active_link_to 'Tables', '/thecity-appkit/tables', :wrap_tag => :li
								= active_link_to 'Grid', '/thecity-appkit/grid', :wrap_tag => :li
								= active_link_to 'Buttons', '/thecity-appkit/buttons', :wrap_tag => :li
								= active_link_to 'Center Stage', '/thecity-appkit/center_stage', :wrap_tag => :li
								= active_link_to 'News Feed Items', '/thecity-appkit/news_feed_items', :wrap_tag => :li
				%section.content.clearfix
					%div.content-inner
						= yield